*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
header{
    background-color: #0054A5;
    height: 300px;
    position: auto;
}
body{
    background: white;
}
.logo{
    width: 250px;
    height: 200px;
    cursor: pointer; 
    margin-left: 10px;
}
.navbar{
    width: 95%;
    height: 100px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0054A5; /* added background color */
}
.navbar ul li:hover {
    background-color: #0054A5; /* added background color */
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: Poppins;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 120%;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: white;
    transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}
.navbar ul li:nth-child(6):hover {
    background-color: #0054A5;
}
.homepage{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    background: white;
}
.homepage h1{
    font-size: 70px;
    margin-top: 80px;
    font-weight: bold;
    background-color: white;
    color: black;
}
.homepage h2{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: lighter;
    background-color: white;
    color: black;
}
.homepage p{
    margin: 20px auto;
    font-weight: 100;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    color: black;
}
button {
    border-radius: 25px;
    background-color: #0054A5;
    border: none;
    color: white;
    text-align: center;
    font-size: 19px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}
.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 5px;
}

li:hover .dropdown {
    display: block;
}

.dropdown li {
    display: block;
}
.user {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 20px;
    vertical-align: middle;
    color: white;
}