*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
header{
    background-color: #0054A5;
    height: 140px;
    position: auto;
}
body{
    background: white;
}
.logo{
    width: 250px;
    height: 200px;
    cursor: pointer; 
    margin-left: 10px;
}
.navbar{
    width: 95%;
    height: 100px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0054A5; /* added background color */
}
  .navbar ul li:hover {
    background-color: #0054A5; /* added background color */
  }
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: Poppins;
    position: relative;
  }
  .navbar ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 120%;
  }
  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: white;
    transition: 0.5s;
  }
  .navbar ul li:hover::after{
   width: 100%;
  }
  .navbar ul li:nth-child(6):hover {
    background-color: #0054A5;
  }
  
  .document-page h1{
      text-align: center;
      color: #0054A5;
      padding: 10px;
      background-color: rgb(255, 252, 99, 0.5);
      
  }
  table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
    }
    th, td {
      text-align: left;
      padding: 10px;
      vertical-align: top;
    }
    th {
      background-color: #0054A5;
      color: white;
      font-weight: bold;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: #ddd;
    }
    a.view-link{
      color: blue;
      text-decoration: none;
    }
    a.view-link:hover {
      text-decoration: underline;
    }
  
    a.edit-link {
    color: green;
    text-decoration: none;
  }
  a.edit-link:hover {
    text-decoration: underline;
  }
  .table-container {
      border: 1px solid black;
      margin: 20px 50px;
    }
    .dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      margin-top: 5px;
  }
  
  li:hover .dropdown {
      display: block;
  }
  
  .dropdown li {
      display: block;
  }
  .user{
      width: 30px;
      height: 30px;
      margin-left: 3px;
      margin-right: 20px;
      vertical-align: middle;
      color: white;
  }
  .button-container {
    align-items: center;
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
  }
  
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0054A5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
  main {
	padding: 20px;
}
.report-container {
	display: flex;
	flex-wrap: wrap;
}

.report-box {
	background-color: #0054A5;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	padding: 20px;
	margin: 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: left;
	border-radius: 10px;
	box-sizing: border-box;
  color: white;
  width: 400px;
  
}


.report-box h3 {
	margin-top: 0;
    font-size: 20px;
}

.report-box p {
	font-size: 40px;
	margin: 0;
	font-weight: bold;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 20px;
}
