*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
header{
    background-color: #0054A5;
    height: 140px;
    position: auto;
}
body{
    background: white;
}
.logo{
    width: 250px;
    height: 200px;
    cursor: pointer; 
    margin-left: 10px;
}
.navbar{
    width: 95%;
    height: 100px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0054A5; /* added background color */
}
.navbar ul li:hover {
    background-color: #0054A5; /* added background color */
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: Poppins;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 120%;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: white;
    transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}
.navbar ul li:nth-child(6):hover {
    background-color: #0054A5;
}
    .document-page h1{
        text-align: center;
          color: #0054A5;
          padding: 10px;
          background-color: rgb(255, 252, 99, 0.5);
    }
    .search-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 50px;
        margin-left: 50px;
    }
    .search-container h2{
        display: flex;
        margin-bottom: 5px;
        font-size: 25px;
    }
    .search-bar {
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px grey;
        width: 400px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .search-button {
        padding: 10px;
        background-color: #0054A5;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 150px;
    }
    
    .search-button:hover {
        background-color: rgb(255, 252, 99, 0.5);
        color: black;
    }
  
  .dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      margin-top: 5px;
  }
  
  li:hover .dropdown {
      display: block;
  }
  
  .dropdown li {
      display: block;
  }
  .user {
      width: 30px;
      height: 30px;
      margin-left: 3px;
      margin-right: 20px;
      vertical-align: middle;
      color: white;
  }
  
  .box {
    border: 2px solid #0054A5;
    padding: 10px;
    margin: 20px 50px 20px 100px; /* added margin */
    font-weight: 600; /* added semi-bold font weight */
    font-size: 20px;
  }
  
  .box h1 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .box table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  .box th, .box td {
    text-align: justify;
    padding: 10px;
    vertical-align: top;
  }
  
  .box th {
    background-color: #0054A5;
    color: white;
    font-weight: bold;
    width: 300px;
  }
  
  .box tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .box tr:hover {
    background-color: #ddd;
  }
  
  .box a.view-link{
    color: blue;
    text-decoration: none;
  }
  
  .box a.view-link:hover {
    text-decoration: underline;
  }
  
  .box a.edit-link {
    color: green;
    text-decoration: none;
  }
  
  .box a.edit-link:hover {
    text-decoration: underline;
  }
  
  .box .table-container {
    border: 1px solid black;
    margin: 20px 50px;
  }